<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Contact Us</title>
    <link rel="stylesheet" href="/assets/styles.css" />
  </head>
  <body>
    <%- include('partials/nav') %>
    <h1>Contact Us!</h1>
    <p>Thanks for contacting us.</p>
    <p>You've contacted <%= data.who %> of <%= data.dept %> department.</p>
    <p>We will reply to you using the email: <%= data.email %></p>
  </body>
</html>
