<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home Page</title>
    <link rel="stylesheet" href="/assets/styles.css" />
  </head>
  <body>
    <%- include('partials/nav') %>
    <h1>Welcome to the most awesome website in the planet</h1>
    <p>You can't find anything like it on earth.</p>
  </body>
</html>
